<% /* %>
  * Copyright 2021-present, Facebook, Inc. All rights reserved.
  *
  * This source code is licensed under the BSD-style license found in the
  * LICENSE file in the root directory of this source tree.
  *
  * Messenger For Original Coast Clothing
  * https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing
  <% */ %>
    <%- include('./header'); %>

      <div class="container">
        <h1>Quán Thư Đà Nẵng</h1>
        <img src="/logo.png" />
        <p class="lead">
          Địa chỉ 201 Phạm Như Xương, Hoà Khánh Nam, Liên Chiểu, Đà Nẵng
        </p>
        <p>
          Kinh nghiệm lâu năm trong lĩnh vực ẩm thực
        </p>
        <ul>
          <li>
            <a href="https://www.originalcoastclothing.com/">Website Quán Thư</a>
          </li>
          <li>
            Liên hệ
            <a
              href="https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing">Quán
              Thư</a>
          </li>
        </ul>
      </div>

      <%- include('./footer'); %>